
.toast-percentage{position:relative;margin:0 auto;}
.toast-percentage .percentage-number{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}


/*Animation**/
.toast-percentage .percentage-svg{display: block;margin: 0 auto;}
.toast-percentage .percentage-circle{fill: none;stroke-linecap: round;transition-timing-function: linear !important;transition-delay:10ms !important;
}


/**Outline**/
.toast-percentage .outline-path{position:absolute;top:0;left:0;z-index:1;}
.toast-percentage .outline-path .outline-path-circle{fill: none;stroke-linecap: round;}

/**Number**/
.toast-count-to-number{text-align:center;font-size:50px;}