.wp-media-buttons .percentage-button{background: #ff7700;text-shadow: none;border: none;box-shadow: none;color: #ffffff;border-radius: 3px;}
	.wp-media-buttons .percentage-button:hover, .wp-media-buttons .percentage-button:active, .wp-media-buttons .percentage-button:focus{background: #ff7700;color:#ffffff;}
	.percentage-background{position:fixed;width:100%;height:100%;top:0;left:0;background:rgba(0,0,0,0.7);z-index:99999999;display:none;}
	.percentage-background.active{display:block;}
	.percentage-form{background:#ffffff;position:fixed;top:50%;left:50%;transform:translate(-50%, -50%);box-shadow:0 0 12px rgba(0,0,0,0.4);width:80%;max-width:700px;}
	.percentage-form-title{background:#efefef;padding:20px;font-weight:bold;position:relative;font-size:20px;}
	.percentage-form-title .percentage-close-button{position:absolute;right:20px;top:20px;font-size:20px;cursor:pointer;}
	.percentage-form form{padding:0 20px 20px;display:none;}
	
	.percentage-form form.active{display:block;}
	.percentage-form form .percentage-control:first-child{padding-top:0;}
	.percentage-form form .percentage-control{padding:10px 0;border-bottom:1px solid #efefef;display:table;width:100%;table-layout:fixed;}
	.percentage-form form .percentage-control .left-side{display:table-cell;vertical-align:middle;width:200px;font-weight:bold;font-size:15px;}
	.percentage-form form .percentage-control .right-side{display:table-cell;vertical-align:middle;}
	
	.percentage-form form .percentage-control label.required:after{content:'*';color:#ff7700;padding-left:5px;}
	
	.percentage-form form input[type="submit"]{    background: #ff7700;text-shadow: none;border: none;box-shadow: none;color: #ffffff;margin-top:10px;padding:10px;border-radius:3px;}
	
	.percentage-buttons{padding:0 20px 20px;}
	
	.percentage-form .more-info{margin-left:5px;vertical-align:middle;cursor:default;position:relative;background:black;color:#ffffff;display:inline-block;height:14px;width:14px;text-align:center;font-weight:bold;line-height:14px;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;font-size:10px;}
    .percentage-form .more-info i{font-family:fontawesome;font-style:normal;}
    
    .percentage-form .more-info .hovered-text{display:none;z-index:1;position:absolute;left:15px;top:15px;width:200px;padding:7px;background:#000000;font-size:10px;text-align:left;border-radius:5px;font-weight:400;}
    .percentage-form .more-info:hover .hovered-text{display:block;}